$font-family-default: "PT Sans Caption", Geneva, Arial, Helvetica, sans-serif;
$font-family-caption: "PT Sans Caption", Arial, sans-serif;
$font-family-mono: "PT mono", Consolas, "Courier New", monospace;

$transition-normal: .25s;
$transition-fast: .07s;

$color-gray-light: #585858;
$color-accent-1: #FF7F96;
$color-accent-2: rgba(140, 108, 145, 0.45);

$screen-lg: 1200px;
$screen-md: 768px;
$screen-sm: 320px;

$color-success: #00FF00;